@inject NavigationManager NavigationManager

<div class="fixed bottom-0 left-0 mb-1 ml-1">
    <NavLink href="/chat" aria-label="chat">
        <button class="menuButton p-2" aria-label="home">
            <div class="flex">
                <Icon Name="recycle" Padding="1" Size="20" />
            </div>
        </button>
    </NavLink>
</div>

@code {
}
