@page "/"

<PageTitle>PromptStudio</PageTitle>
<div class="lg:mt-8 lg:ml-8">
    <div class="lg:w-5/6 lg:mt-2">
        <button class="w-full submitButton">Run</button>
    </div>
    <div class="lg:w-5/6 lg:mt-2">
        <label for="systemInstructions">System instructions</label>
        <textarea id="systemInstructions"></textarea>
    </div>

    <div class="lg:w-5/6 lg:mt-2">
        <label for="context">Context</label>
        <textarea id="context"></textarea>
    </div>
</div>