@page "/"

<PageTitle>PromptStudio</PageTitle>

<div class="container m-auto mt-8 flex justify-center items-center">
    <NavLink href="/start" aria-label="chat">
        <button class="menuButton p-2" aria-label="home">
            <div class="flex">
                <Icon Name="database-add" Size="48" />
                <span class="ml-2 mt-2">Start new session</span>
            </div>
        </button>
    </NavLink>
</div>
