# /etc/systemd/system/aje-news.service

# install
# sudo systemctl daemon-reload
# sudo systemctl enable aje-news.service
# sudo systemctl start aje-news.service

# removal
# sudo systemctl stop aje-news.service
# sudo systemctl disable aje-news.service
# remove the service file
# reload daemon

# full log you can see with
# journalctl -u aje-news.service

[Unit]
Description=AJE News
After=network.target

[Service]
Type=simple
Restart=always
# Note working directory is a must
# otherwiser process can't find resources -> odd errors
WorkingDirectory=/usr/local/bin/aje-news
ExecStart=/usr/local/bin/aje-news/AJE.Service.News
User=antti

SyslogIdentifier=aje-news
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
