@page "/chat/{ChatId:guid}"
@inject NavigationManager NavigationManager
@inject ISender Sender
@inject IAiChatEventHandler AiChatEventHandler

<PageTitle>Antai - Chat - @ChatId</PageTitle>

@if (_chat == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container sm:flex flex-col md:flex-row">
    <div class="container text-center mt-1">
        <label for="id">Id</label>
        <textarea id="id" readonly>@_chat.ChatId</textarea>
    </div>
    <div class="container text-center mt-1">
        <label for="id">Startted</label>
        <textarea id="id" readonly>@_chat.StartTimestamp</textarea>
    </div>
    <div class="container text-center mt-1">
        <label for="context">Context (placeholder)</label>
        <progress id="context" max="100" value="45">45%</progress>
    </div>
</div>

    @foreach (var interaction in _chat.Interactions)
    {

    }

    <InteractionCreator ChatId="_chat.ChatId" />
}

<MenuChatRestart />

@code {

    [Parameter]
    public Guid ChatId { get; set; }

    private AiChat? _chat;

    protected override async Task OnInitializedAsync()
    {
        _chat = await Sender.Send(new GetAiChatQuery { Id = ChatId });
    }
}
