<footer class="mt-2 content">
    <p class="text-lg">
        feel free to modify anythings
    </p>
    <p class="text-sm">
        all content on is reseted to baseline every 24 hours
    </p>
    <p class="text-sm">
        source code available in <a target="_blank" href="https://github.com/anttieskola/aje">Github</a>
    </p>
</footer>

@code {
    public string TimeString = string.Empty;

    protected override void OnInitialized()
    {
        var dt = DateTime.Now;
        TimeString = $"{dt.DayOfWeek.ToString()} {dt.ToString()}";
    }
    }

