<div class="flex flex-col h-[34px] items-center justify-center">
    <nav>
        <button type="button" class="submitButton" aria-label="go back">
            <NavLink href="/">
                <Icon Name="arrow-90deg-left" Size="24" Padding="0" />
            </NavLink>
        </button>
    </nav>
</div>

@if (Model == null)
{
    <p class="text-rose-600">null</p>
}
else
{
    @foreach (var content in Model.Content)
    {
        switch (content)
        {
            case MarkdownHeaderElement header:
                <MarkDownHeader Element="@header" />
                break;
            case MarkdownTextElement text:
                <MarkDownText Element="@text" />
                break;
            default:
                <p class="text-rose-600">Unknown content type</p>
                break;
        }
    }
    <p class="italic text-center text-xs mt-2"><a href="@Model.Source">source</a></p>

    <div class="flex flex-col items-center justify-center mt-1">
        <nav>
            <button type="button" class="submitButton" aria-label="go back">
                <NavLink href="/">
                    <Icon Name="arrow-90deg-left" Size="24" Padding="0" />
                </NavLink>
            </button>
        </nav>
    </div>
}



@code {

    [Parameter]
    public Article? Model { get; set; }

}
