@inject IConnectionMultiplexer Connection
@inject ISender Sender
@implements IDisposable

<table class="table-auto">
    <tr>
        <td>
            @if (_article != null && _article.Polarity != Polarity.Unknown)
            {
                <SentimentIcon Polarity="@_article.Polarity" IconSize="20" IconPadding="0" />
            }
        </td>
        <td>
            <label for="updateFrequence">Delay</label>
            <select name="updateFrequence" @onchange="UpdateFrequence">
                <option value="10">10 sec</option>
                <option value="20" selected>20 sec</option>
                <option value="30">30 sec</option>
                <option value="60">60 sec</option>
                <option value="120">120 sec</option>
            </select>
        </td>
    </tr>
</table>

<ArticleView Model="_article" />

@code {

    /// <summary>
    /// How many latest articles we rotate
    /// </summary>
    [Parameter]
    public int LatestCount { get; set; } = 10;

    /// <summary>
    /// Delay between articles in seconds
    /// </summary>
    [Parameter]
    public int DelayInSeconds { get; set; } = 20;

    private IRedisIndex _index = new ArticleIndex();
    private Article? _article;
    private Queue<Guid> _queue = new Queue<Guid>();
    private Timer _timer = default!;
    protected override async Task OnInitializedAsync()
    {
        var pubsub = Connection.GetSubscriber();
        // TODO: Magic string
        await pubsub.SubscribeAsync(_index.Channel, Message);

        await QueueLatest();

        _timer = new Timer(TimeSpan.FromSeconds(DelayInSeconds)) { Enabled = false, AutoReset = true };
        _timer.Elapsed += Trigger;

        // start show if anything in queue
        if (_queue.Count > 0)
        {
            await Load(_queue.Dequeue());
            _timer.Start();
        }
    }

    private void UpdateFrequence(ChangeEventArgs e)
    {
        if (e.Value != null && int.TryParse(e.Value.ToString(), out var seconds))
        {
            DelayInSeconds = seconds;
            _timer.Stop();
            _timer.Dispose();
            _timer.Elapsed -= Trigger;
            _timer = new Timer(TimeSpan.FromSeconds(DelayInSeconds)) { Enabled = false, AutoReset = true };
            _timer.Elapsed += Trigger;
            _timer.Start();
        }
    }

    private async Task QueueLatest()
    {
        var headers = await Sender.Send(new GetArticleHeadersQuery { Offset = 0, PageSize = LatestCount });
        foreach (var header in headers.Items)
            _queue.Enqueue(header.Id);
    }

    private void Trigger(object? sender, ElapsedEventArgs e)
    {
        if (_queue.Count > 0)
            InvokeAsync(() => Load(_queue.Dequeue()));
        else
            InvokeAsync(() => QueueLatest());
    }

    private void Message(RedisChannel channel, RedisValue message)
    {
        if (message.HasValue)
        {
            // todo: test this works (as removed type from event fields)
            var msg = JsonSerializer.Deserialize<ArticleAddedEvent>(message.ToString());
            if (msg != null)
            {
                InvokeAsync(async () =>
                {
                    _queue.Enqueue(msg.Id);

                    // "edge case" when first ever (we can't start show if no articles)
                    if (!_timer.Enabled)
                    {
                        await Load(_queue.Dequeue());
                        _timer.Start();
                    }
                });
            }
        }
    }

    private async Task Load(Guid id)
    {
        _article = await Sender.Send(new GetArticleQuery { Id = id });
        StateHasChanged();
    }

    void IDisposable.Dispose() => _timer?.Dispose();
}
